<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorize</title>
    <th:block th:replace="template::generalAsset">
    </th:block>
    <script th:inline="javascript">
        function saveUserAuthentication() {
            $.post('[(@{/userauthorization/api/save})]', $('#userAuthenticationForm').serialize(), function () {
            }).done(function (data, textStatus, jqXHR) {
                M.toast({
                    html: '保存成功', displayLength: 1000, classes: 'rounded', completeCallback: function () {
                        history.go(-1);
                    }
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '保存失败!' + errorThrown, classes: 'rounded'});
            });
        }
    </script>
</head>
<body>
<div th:replace="template::header"></div>
<main>
    <div class="container">
        <div class="card-panel">
            <h5 th:text="|授权管理(用户:${username})|"></h5>
            <div class="divider"></div>
            <div class="section">
                <form th:action="@{/}" id="userAuthenticationForm">
                    <th:block th:each="userPermission:${allPermissions}">
                        <p>
                            <label th:for="${userPermission.id}">
                                <input type="checkbox"
                                       class="filled-in"
                                       th:name="'permissions'"
                                       th:id="${userPermission.id}"
                                       th:value="${userPermission.id}"
                                       th:checked="${#lists.contains(userPermissions,userPermission)}"/>
                                <span th:text="${userPermission.roleName}"></span>
                            </label>
                        </p>
                    </th:block>
                    <input type="hidden" th:name="'username'" th:value="${username}"/>
                </form>
                <button th:text="|确定|"
                        onclick="saveUserAuthentication()"
                        class="waves-effect btn">
                </button>
            </div>
        </div>
    </div>
</main>
<div th:replace="template::footer"></div>
</body>
</html>