<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <th:block th:replace="template::generalAsset">
    </th:block>
    <script th:inline="javascript">
        function changeVaildCode() {
            $('#validCodeImg').attr('src', '[(@{/validcode})]?' + Math.random());
        }
    </script>
</head>
<body>
<div th:replace="template::header"></div>
<main>
    <div class="container">
        <div class="card-panel">
            <h5>登录</h5>
            <div class="divider"></div>
            <div class="section">
                <form th:action="@{/login}" th:method="post">
                    <div class="row">
                        <blockquote>
                            <p th:text="${error}"></p>
                        </blockquote>
                        <div class="input-field col s12">
                            <input type="text"
                                   data-length="16"
                                   id="username"
                                   name="username"
                                   th:required="required"/>
                            <label>用户名</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password"
                                   id="password"
                                   data-length="16"
                                   th:name="password"
                                   th:required="required"/>
                            <label>密码</label>
                        </div>
                        <div class="input-field col s12">
                            <label>
                                <input id="remember_me"
                                       name="remember_me"
                                       type="checkbox"
                                       class="filled-in"/>
                                <span>记住我</span>
                            </label>
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit"
                                class="waves-effect waves-light btn"
                                th:text="登录">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $('input#password, input#username').characterCounter();
    });
</script>
<div th:replace="template::footer"></div>
</body>
</html>