<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register}" th:object="${userForm}" th:method="post">
    <h3>Register with Username and Password</h3>
    <table>
        <tbody>
        <tr>
            <td><label>User:</label></td>
            <td><input type="text" th:field="*{username}" th:required="required"/><br/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" th:field="*{password}" th:required="required"/><br/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="register" value="Register"/></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#fields.hasErrors()}">
        <ul>
            <li th:each="error:${#fields.errors()}" th:text="${error}">Input Error</li>
        </ul>
    </div>
</form>
</body>
</html>