<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>UserDetails</title>
    <script th:inline="javascript">
        function submitUserProfileForm() {
            $('#birthday').val(new Date(Date.parse($('#birthdaySource').val())));
            $('#userProfileForm').submit();
        }

        function addFriend(username) {
            $.getJSON('[(${#servletContext.contextPath})]/userfriend/api/addfriend', {
                'username': username
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                alert('Add Friend Request Success!');
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }

        function switchUserAccountState(id) {
            $.getJSON('[(${#servletContext.contextPath})]/user/api/switchState', {
                'id': id
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                var switchState = $('#switchState');
                if (switchState.val() === 'Disable') {
                    switchState.val('Enable');
                    return;
                }
                switchState.val('Disable');
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }
    </script>
</head>
<body>
<div th:replace="template::header"></div>
<h3>
    <span th:text="'UserDetails'"></span>
</h3>
<form th:id="'userProfileForm'" th:action="@{/userprofile/save}" th:method="post">
    <table th:unless="${userProfile == null}">
        <tr>
            <td th:text="'UserId:'"></td>
            <td th:text="${userProfile.user.id}"></td>
            <td th:text="'Sex:'"></td>
            <td>
                <select th:name="'sex'" th:disabled="${#authentication.name!=userProfile.user.username}">
                    <option value="男" th:selected="${userProfile.sex == '男'}">男</option>
                    <option value="女" th:selected="${userProfile.sex == '女'}">女</option>
                </select>
            </td>
            <td th:text="'Age:'"></td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}" th:name="'age'"
                       th:type="number" th:value="${userProfile.age}" value="年龄"
                       type="text"/>
            </td>
        </tr>
        <tr>
            <td th:text="'Username:'"></td>
            <td th:text="${userProfile.user.username}"></td>
            <td th:text="'QQ:'"></td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}" th:name="'qq'"
                       type="text" value="QQ" th:value="${userProfile.qq}"/>
            </td>
            <td th:text="'Birthday:'"></td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}" type="date"
                       th:id="'birthdaySource'"
                       th:value="${#dates.format(userProfile.birthday,'yyyy-MM-dd')}"/>
                <input type="hidden" th:id="'birthday'" th:name="'birthday'"/>
            </td>
        </tr>
        <tr>
            <td th:text="'WeChat:'">
            </td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}" name="wechat"
                       th:required="required" type="text"
                       th:value="${userProfile.wechat}"/>
            </td>
            <td th:text="'PhoneNumber:'"></td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}"
                       name="phoneNumber" type="text" maxlength="11" th:required="required"
                       th:value="${userProfile.phoneNumber}"/>
            </td>
            <td th:text="'CreateTime:'"></td>
            <td th:text="${#dates.format(userProfile.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td th:text="'Email:'"></td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}" th:name="'email'"
                       th:required="required" type="email"
                       th:value="${userProfile.email}"/>
            </td>
            <td th:text="'SelfIntroduction:'"></td>
            <td>
                <input th:disabled="${#authentication.name!=userProfile.user.username}"
                       th:name="'selfIntroduction'"
                       th:required="required" type="text"
                       th:value="${userProfile.selfIntroduction}"/>
            </td>
            <td th:text="'UpdateTime:'"></td>
            <td th:text="${#dates.format(userProfile.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td th:if="${#authentication.name == userProfile.user.username}">
                <input type="button" th:onclick="'submitUserProfileForm()'" value="save"></td>
            <td>
                <input type="hidden" th:name="id" th:value="${userProfile.id}">
            </td>
            <td th:if="${#authentication.name!=userProfile.user.username and !isExistUserFriend}">
                <input type="button" th:onclick="'addFriend(\''+${userProfile.user.username}+'\');'"
                       th:value="'Add Friend'"/>
            </td>
            <td sec:authorize="hasAnyRole('ROLE_ADMIN_USER')"
                th:if="${#authentication.name != userProfile.user.username}">
                <input th:id="'switchState'" type="button"
                       th:onclick="'switchUserAccountState('+${userProfile.user.id}+');'"
                       th:value="${userProfile.user.getUserAccountState().getIsEnabled()==0?'Enable':'Disable'}"/>
            </td>
        </tr>
    </table>
    <div th:unless="${error == null}">
        <span th:text=" ${error}"></span>
    </div>
</form>
<div th:replace="template::footer"></div>
</body>
</html>