<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>UserDetails</title>
    <th:block th:replace="template::generalAsset">
    </th:block>
    <script th:inline="javascript">
        function deleteUser(userId) {
            $.getJSON('[(@{/user/api/delete})]', {
                'id': userId
            }, function () {
            }).done(function () {
                history.go(-1);
            }).always(function (jqXHR) {
            });
        }

        function reset(username) {
            $.getJSON('[(@{/user/api/reset})]', {
                'username': username
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                M.toast({html: '重置成功!新密码为:' + data.data, classes: 'rounded'});
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '重置密码失败!' + errorThrown, classes: 'rounded'});
            });
        }

        function submitUserProfileForm() {
            $('#birthday').val(new Date(Date.parse($('#birthdaySource').val())));
            $('#userProfileForm').submit();
        }

        function addFriend(username) {
            $.getJSON('[(@{/userfriend/api/addfriend})]', {
                'username': username
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                M.toast({html: '申请添加好友成功', classes: 'rounded'});
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '申请添加好友失败' + errorThrown, classes: 'rounded'});
            });
        }

        function switchUserAccountState(id) {
            $.getJSON('[(@{/user/api/switchState})]', {
                'id': id
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                var switchState = $('#switchState');
                var tip;
                if (switchState.text() === '启用账户') {
                    switchState.attr('class', 'waves-effect waves-light btn');
                    tip = '禁用账户';
                } else {
                    switchState.attr('class', 'waves-effect waves-light btn-flat');
                    tip = '启用账户';
                }
                switchState.text(tip);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '切换用户状态失败!' + errorThrown, classes: 'rounded'});
            });
        }

        function inputProfilePhoto(cut_img) {
            var img_cropper = $('#img_cropper');
            img_cropper.attr('src', getObjectURL(cut_img.files[0]));
            crop(img_cropper);
            img_cropper.cropper('replace', getObjectURL(cut_img.files[0]));
        }

        function crop(img_cropper) {
            img_cropper.cropper({
                viewMode: 1,
                aspectRatio: 1,
                minCropBoxWidth: 100,
                minCropBoxHeight: 100,
                autoCropArea: 0.5,
                crop: function () {
                    var preview_img = $(this).cropper('getCroppedCanvas', {
                        width: 128,
                        height: 128,
                        minWidth: 128,
                        minHeight: 128,
                        maxWidth: 4096,
                        maxHeight: 4096,
                        fillColor: '#fff',
                        imageSmoothingEnabled: false,
                        imageSmoothingQuality: 'high'
                    }).toDataURL('image/jpg', 1);
                    $("#preview_img").attr("src", preview_img);
                }
            });
        }

        function uploadProfilePhoto() {
            var img_cropper = $('#img_cropper');
            img_cropper.cropper('getCroppedCanvas', {
                width: 128,
                height: 128,
                minWidth: 128,
                minHeight: 128,
                maxWidth: 4096,
                maxHeight: 4096,
                fillColor: '#fff',
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            }).toBlob(function (blob) {
                if (blob === null) {
                    M.toast({html: '不支持文件类型', classes: 'rounded'});
                    return;
                }
                var formData = new FormData();
                formData.append('[(${_csrf.parameterName})]', '[(${_csrf.token})]');
                formData.append('profilePhoto', blob);
                $.ajax('[(@{/userprofile/api/saveProfilePhoto})]', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data, textStatus, jqXHR) {
                        M.toast({html: '保存成功', classes: 'rounded'});
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        M.toast({html: '上传头像失败' + errorThrown, classes: 'rounded'});
                    }
                });
            });
        }
    </script>
    <style>
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div th:replace="template::header"></div>
<main>
    <div class="container">
        <div class="card-panel">
            <h5 th:text="'用户资料'"></h5>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s4">
                                <a href="#tab_base" th:text="|基本信息|"></a>
                            </li>
                            <li class="tab col s4" th:if="${#authentication.name==userProfile.user.username}">
                                <a href="#tab_photo"
                                   th:text="|头像管理|"></a>
                            </li>
                            <li class="tab col s4"
                                sec:authorize="hasAnyRole('ROLE_ADMIN_USER')"
                                th:if="${#authentication.name!=userProfile.user.username}">
                                <a href="#tab_manage"
                                   th:text="|当前用户管理|"></a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab_base">
                        <div class="col s12 center">
                            <img class="circle responsive-img tooltipped"
                                 data-position="top"
                                 th:data-tooltip="|用户ID:${userProfile.user.id}|"
                                 th:src="@{/{profilePhoto}(profilePhoto=${userProfile.user.userProfile.profilePhoto})}"
                                 th:width="72px" th:height="72px"/>
                        </div>
                        <div class="col s12 center">
                            <h6 th:text="${userProfile.user.username}"></h6>
                        </div>
                        <div class="col s12">
                            <div class="col s12 center"
                                 th:if="${#strings.equals(userProfile.user.username,#authentication.name)}">
                                <a class="waves-effect waves-teal btn-flat"
                                   th:href="@{/microword/{userId}(userId=${userProfile.user.username})}"
                                   th:text="'我的微说'"></a>
                            </div>
                            <div class="col s6 center"
                                 th:if="${!#strings.equals(userProfile.user.username,#authentication.name)}">
                                <a class="waves-effect waves-teal btn-flat"
                                   th:href="@{/microword/{userId}(userId=${userProfile.user.username})}"
                                   th:text="'TA的微说'"></a>
                            </div>
                            <div class="col s6 center"
                                 sec:authorize="isAuthenticated()">
                                <a th:if="${!#strings.equals(userProfile.user.username,#authentication.name)&&isExistUserFriend}"
                                   class="waves-effect waves-teal btn-flat"
                                   th:href="@{/message/chat/{username}(username=${userProfile.user.username})}"
                                   th:text="'发私信'"></a>
                            </div>
                            <div class="col s6 center"
                                 sec:authorize="isAuthenticated()">
                                <input class="waves-effect waves-teal btn-flat"
                                       type="button"
                                       th:if="${#authentication.name!=userProfile.user.username and !isExistUserFriend}"
                                       th:onclick="'addFriend(\''+${userProfile.user.username}+'\');'"
                                       th:value="'添加好友'"/>
                            </div>
                        </div>
                        <div class="col s10 offset-s1">
                            <blockquote th:if="${errors!=null}">
                                <p th:each="error:${errors.fieldErrors}"
                                   th:text="|${error.defaultMessage}-当前输入值:${error.rejectedValue}|">
                                </p>
                            </blockquote>
                        </div>

                        <form th:id="'userProfileForm'"
                              th:action="@{/userprofile/save}"
                              th:method="post"
                              class="col s12"
                              th:unless="${userProfile==null}">
                            <div class="row">
                                <div class="input-field col s5 offset-s1">
                                    <select name="sex"
                                            th:disabled="${!#strings.equals(userProfile.user.username,#authentication.name)}">
                                        <option value="男" th:selected="${userProfile.sex=='男'}">男</option>
                                        <option value="女" th:selected="${userProfile.sex=='女'}">女</option>
                                    </select>
                                    <label th:text="|选择性别|"></label>
                                </div>
                                <div class="input-field col s5">
                                    <input th:disabled="${#authentication.name!=userProfile.user.username}"
                                           name="age"
                                           id="age"
                                           type="number" th:value="${userProfile.age}"/>
                                    <label for="age" th:text="|年龄|"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5 offset-s1">
                                    <input th:disabled="${#authentication.name!=userProfile.user.username}"
                                           type="text" class="datepicker"
                                           id="birthdaySource"
                                           th:value="${#dates.format(userProfile.birthday,'yyyy-M-d')}"/>
                                    <input type="hidden" th:id="'birthday'" th:name="'birthday'"/>
                                    <label th:text="|生日|" for="birthdaySource"></label>
                                </div>
                                <div class="input-field col s5">
                                    <input th:disabled="${#authentication.name!=userProfile.user.username}"
                                           name="qq"
                                           type="number"
                                           id="qq"
                                           th:value="${userProfile.qq}"/>
                                    <label for="qq" th:text="|QQ|"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5 offset-s1">
                                    <input th:disabled="${#authentication.name!=userProfile.user.username}"
                                           data-length="11"
                                           type="text"
                                           maxlength="11"
                                           name="phoneNumber"
                                           id="phoneNumber"
                                           th:required="required"
                                           th:value="${userProfile.phoneNumber}"/>
                                    <label th:text="|手机号码|" for="phoneNumber"></label>
                                </div>
                                <div class="input-field col s5">
                                    <input th:disabled="${#authentication.name!=userProfile.user.username}"
                                           name="wechat"
                                           th:required="required"
                                           type="text"
                                           id="wechat"
                                           th:value="${userProfile.wechat}"/>
                                    <label for="wechat" th:text="|微信|"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5 offset-s1">
                                <textarea th:name="'selfIntroduction'"
                                          data-length="50"
                                          id="selfIntroduction"
                                          class="materialize-textarea"
                                          th:disabled="${#authentication.name!=userProfile.user.username}"
                                          th:text="${userProfile.selfIntroduction}"></textarea>
                                    <label th:text="|个人说明|"></label>
                                </div>
                                <div class="input-field col s5">
                                    <input th:disabled="${#authentication.name!=userProfile.user.username}"
                                           type="email"
                                           name="email"
                                           id="email"
                                           class="validate"
                                           th:required="required"
                                           th:value="${userProfile.email}"/>
                                    <label th:text="|Email|" for="email"></label>
                                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s5  offset-s1">
                                    <input type="text"
                                           th:value="${#dates.format(userProfile.createTime, 'yyyy-MM-dd HH:mm:ss')}"
                                           disabled/>
                                    <label th:text="|用户注册时间|"></label>
                                </div>
                                <div class="input-field col s5">
                                    <input type="text"
                                           th:value="${#dates.format(userProfile.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"
                                           disabled/>
                                    <label th:text="|用户资料更新时间|"></label>
                                    <input type="hidden" th:name="id" th:value="${userProfile.id}">
                                </div>
                                <div class="input-field col s12 center"
                                     th:if="${#authentication.name==userProfile.user.username}">
                                    <button th:onclick="'submitUserProfileForm()'"
                                            th:text="保存"
                                            class="waves-effect waves-light btn">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="tab_photo" th:if="${#authentication.name==userProfile.user.username}">
                        <div class="row">
                            <div class="col s12">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>选择图片</span>
                                        <input type="file"
                                               th:id="'cut_img'"
                                               onchange="inputProfilePhoto(this);"
                                               accept=".png,.jpg,.jpeg"/>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col s3">
                                <button th:text="'上传'"
                                        class="waves-effect waves-light btn center"
                                        onclick="uploadProfilePhoto();">
                                </button>
                            </div>
                            <div class="col s4">
                                <img th:id="'preview_img'"/>
                            </div>
                        </div>
                        <img th:id="'img_cropper'"/>
                    </div>
                </div>

                <div id="tab_manage"
                     sec:authorize="hasAnyRole('ROLE_ADMIN_USER')"
                     th:if="${#authentication.name!=userProfile.user.username}"
                     class="row">
                    <div class="center">
                        <button type="button"
                                class="waves-effect waves-light btn center"
                                th:onclick="|deleteUser(${userProfile.user.id})|"
                                th:text="'删除用户'"></button>
                        <button type="button"
                                class="waves-effect waves-light btn center"
                                th:onclick="|location.href='@{/user/authorize(username=${userProfile.user.username})}'|"
                                th:text="'授权用户'"></button>
                        <button th:text="'重置密码'"
                                class="waves-effect waves-light btn center"
                                th:onclick="|reset('${userProfile.user.username}')|">
                        </button>
                        <button th:class="|${userProfile.user.getUserAccountState().getIsEnabled()==0?'btn-flat':'btn'} waves-effect waves-light|"
                                th:onclick="|switchUserAccountState(${userProfile.user.id})|"
                                th:id="|switchState|"
                                th:text="|${userProfile.user.getUserAccountState().getIsEnabled()!=0?'禁用账户':'启用账户'}|">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="template::footer"></div>
<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.tooltipped').tooltip();
        $('select').select();
        $('.datepicker').datepicker({format: "yyyy-mm-dd"});
        $('textarea#selfIntroduction,input#phoneNumber').characterCounter();
    });
</script>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/cropper/3.1.3/dist/cropper.css}">
<script th:src="@{/webjars/cropper/3.1.3/dist/cropper.js}"></script>
</body>
</html>