<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MicroWord Details</title>
    <th:block th:replace="template::editorCss"></th:block>
    <script th:inline="javascript">
        function agreeMicroWordDetail(microWordId) {
            var btn_agree = $('#btnagree');
            $.post('[(${#servletContext.contextPath})]/microwordagree/api/save', {
                'microWordId': microWordId, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                btn_agree.val(parseInt(btn_agree.val()) + 1);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.info('Request Error!' + errorThrown);
                alert('您已经点赞过!不能再操作哦~');
            });
        }

        function deleteMicroWordDetail(id) {
            $.post('[(${#servletContext.contextPath})]/microword/api/delete', {
                'id': id, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(-1);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }

        function deleteMicroWordComment(id) {
            $.post('[(${#servletContext.contextPath})]/microwordcomment/api/delete', {
                'id': id, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }

        function deleteMicroWordCommentReply(id) {
            $.post('[(${#servletContext.contextPath})]/microwordcommentreply/api/delete', {
                'id': id, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }

        function replyComment(microwordCommentId, repliedUserId, repliedUserName) {
            $('#replyArea').css('display', 'block');
            $('#microwordCommentId').val(microwordCommentId);
            $('#repliedUserId').val(repliedUserId);
            $('#commentReplyContent').attr('placeholder', 'To ' + repliedUserName);
            $(window).scrollTop($('#commentReplyForm').offset().top);
        }

        function submitReplyComment() {
            let reg = /\<p\>\<br\>\<\/p\>/g;
            var commentReplyContent = $('#commentReplyContent');
            commentReplyContent.val(commentReplyContent.val().replace(reg, ''));
            if (commentReplyContent.val().length >= 200) {
                alert('Data too long...');
                return;
            }
            $.post('[(${#servletContext.contextPath})]/microwordcommentreply/api/save', $('#commentReplyForm').serialize(), function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }

        function submitComment() {
            let reg = /\<p\>\<br\>\<\/p\>/g;
            var commentContent = $('#commentContent');
            commentContent.val(commentContent.val().replace(reg, ''));
            if (commentContent.val().length >= 200) {
                alert('Data too long...');
                return;
            }
            $.post('[(${#servletContext.contextPath})]/microwordcomment/api/save', $('#commentForm').serialize(), function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Request Error!' + errorThrown);
            });
        }
    </script>
</head>
<body>
<div th:replace="template::header"></div>
<h3>MicroWord Details</h3>
<div th:text="'User:'+${microWordDetailVO.microWord.user.username}">微说用户名</div>
<div th:text="'Date:'+${#dates.format(microWordDetailVO.microWord.createTime,'yyyy-MM-dd HH:mm:ss')}">微说日期</div>
<div th:utext="'Content:'+${microWordDetailVO.microWord.content}">微说内容</div>
<span th:text="'Agree:'"></span>
<input type="button" th:id="'btnagree'" th:value="${#lists.size(microWordDetailVO.microWord.microWordAgrees)}"
       th:onclick="'agreeMicroWordDetail('+${microWordDetailVO.microWord.id}+')'"/>
<input type="button" th:value="'Delete'" th:onclick="'deleteMicroWordDetail('+${microWordDetailVO.microWord.id}+')'"
       th:if="${#authentication.name == microWordDetailVO.microWord.user.username or #authorization.expression('hasRole(''ROLE_ADMIN_MICROWORD'') or hasRole(''ROLE_ADMIN'')')}"/>
<br/>
<div sec:authorize="isAuthenticated()">
    <form id="commentForm" th:action="@{/microwordcomment/api/save}" method="post">
        <input type="hidden" th:name="'microWordId'" th:value="${microWordDetailVO.microWord.id}"/>
        <textarea id="commentContent" th:name="'content'"></textarea>
    </form>
    <button th:type="button" th:text="'ok'" id="btnSendComment"></button>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/wangEditor/2.1.22/dist/js/wangEditor.min.js}"></script>
    <script type="text/javascript">
        function initEditor() {
            var e = document.getElementById('commentContent');
            var editor = new wangEditor(e);
            editor.config.menus = [
                'link', 'emotion', '|', 'undo', 'redo', 'fullscreen'
            ];
            editor.create();
        }

        function initButton() {
            $('#btnSendComment').click(function (event) {
                submitComment();
            });
        }
    </script>
    <script type="text/javascript">
        initEditor();
        initButton();
    </script>
</div>
<br>
<div th:each="microWordComment:${microWordDetailVO.getMicroWordCommentPage()}" style="border: dashed">
    <span th:text="' Id : '+${microWordComment.id}+' | User : '"></span>
    <a th:text="${microWordComment.commentUser.username}"
       th:href="${#servletContext.contextPath}+'/userprofile/details/'+${microWordComment.commentUser.username}"></a>
    <span th:text="' | Date : '+${#dates.format(microWordComment.createTime,'yy-MM-dd HH:mm:ss')}"></span>
    <input type="button" value="Delete" th:onclick="'deleteMicroWordComment('+${microWordComment.id}+')'"
           th:if="${#authentication.name == microWordComment.commentUser.username or #authorization.expression('hasAnyRole(''ROLE_ADMIN_COMMENT'')')}"/>
    <input type="button" value="Reply" sec:authorize="isAuthenticated()"
           th:onclick="'replyComment('+${microWordComment.id}+','+${microWordComment.commentUser.id}+','+'\''+${microWordComment.commentUser.username}+'\''+')'"/>
    <div th:utext="${microWordComment.content}"></div>
    <ul>
        <li th:each="microWordCommentReply:${microWordComment.getMicroWordCommentReplies()}">
            <span th:text="' Id :'+${microWordCommentReply.id}+' | User : '+${microWordCommentReply.replyUser.username}+' To '+${microWordCommentReply.repliedUser.username}+' | Date : '+${#dates.format(microWordCommentReply.createTime,'yy-MM-dd HH:mm:ss')}"></span>
            <input type="button" value="Delete"
                   th:if="${#authentication.name == microWordCommentReply.replyUser.username or #authorization.expression('hasAnyRole(''ROLE_ADMIN_COMMENT'')')}"
                   th:onclick="'deleteMicroWordCommentReply('+${microWordCommentReply.id}+')'"/>
            <input type="button" sec:authorize="isAuthenticated()" value="Reply"
                   th:onclick="'replyComment('+${microWordComment.id}+','+${microWordCommentReply.replyUser.id}+','+'\''+${microWordCommentReply.replyUser.username}+'\''+')'"/>
            <div th:utext="${microWordCommentReply.content}"></div>
        </li>
    </ul>
</div>

<div sec:authorize="isAuthenticated()" style="display: none;" id="replyArea">
    <form id="commentReplyForm" th:action="@{/microwordcommentreply/api}" method="post">
        <input type="hidden" th:name="'microWordId'" th:value="${microWordDetailVO.microWord.id}"/>
        <input type="hidden" th:name="'microwordCommentId'" id="microwordCommentId"/>
        <input type="hidden" th:name="'repliedUserId'" id="repliedUserId">
        <textarea id="commentReplyContent" th:name="'content'"></textarea>
    </form>
    <button th:type="button" th:text="'ok'" id="btnSendCommentReply"></button>
    <script type="text/javascript">
        function initReplyEditor() {
            var e = document.getElementById('commentReplyContent');
            var editor = new wangEditor(e);
            editor.config.menus = [
                'link', 'emotion', '|', 'undo', 'redo', 'fullscreen'
            ];
            editor.create();
        }

        function initReplyButton() {
            $('#btnSendCommentReply').click(function (event) {
                submitReplyComment();
            });
        }
    </script>
    <script type="text/javascript">
        initReplyEditor();
        initReplyButton();
    </script>
</div>

<div>
    <form th:action="@{/microword/details/{microWordId}(microWordId=${microWordDetailVO.microWord.id})}"
          th:method="get" th:onsubmit="'return pageFormSubmit()'">
        <span th:text=" ${microWordDetailVO.microWordCommentPage.number+1}
        ">页</span>
        <span th:text="'/'">/</span>
        <span th:text="${microWordDetailVO.microWordCommentPage.totalPages}+' Pages'">总页数</span>
        <input type="number" th:min="1" th:max="${microWordDetailVO.microWordCommentPage.totalPages}" th:id="input_page"
               th:required="required"/>
        <input type="hidden" th:name="page" th:id="submit_page"/>
        <input type="submit" th:value="Go">
    </form>
    <a th:unless="${microWordDetailVO.microWordCommentPage.number==0}"
       th:href="@{/microword/details/{microWordId}(microWordId=${microWordDetailVO.microWord.id},page=${microWordDetailVO.microWordCommentPage.number - 1})}"
       th:text="'Previous'">上一页</a>
    <a th:unless="${microWordDetailVO.microWordCommentPage.number + 1== microWordDetailVO.microWordCommentPage.totalPages}"
       th:href="@{/microword/details/{microWordId}(microWordId=${microWordDetailVO.microWord.id},page=${microWordDetailVO.microWordCommentPage.number+1})}"
       th:text="'Next'">下一页</a>
    <br/>
    <span th:text="'Page Displays Elements Count:'+${microWordDetailVO.microWordCommentPage.numberOfElements}+'/'">页面显示数据量</span>
    <span th:text="'All Elements Count:'+${microWordDetailVO.microWordCommentPage.totalElements}">总数据量</span>
</div>
<div th:replace="template::footer"></div>
</body>
</html>