<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MicroWord Details</title>
    <th:block th:replace="template::editorAsset">
    </th:block>
    <script th:inline="javascript">
        function agreeMicroWordDetail(microWordId) {
            var btn_agree = $('#btnagree');
            $.post('[(@{/microwordagree/api/save})]', {
                'microWordId': microWordId, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                M.toast({html: '点赞+1', classes: 'rounded'});
                btn_agree.text(parseInt(btn_agree.text()) + 1);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '你已经点赞过了哦～', classes: 'rounded'});
            });
        }

        function agreeMicroWordComment(microWordId, microWordCommentId) {
            var btn_agree = $('#btnCommentAgree_' + microWordCommentId);
            $.post('[(@{/microwordcommentagree/api/save})]', {
                'microWordId': microWordId, 'microWordCommentId': microWordCommentId, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                M.toast({html: '点赞+1', classes: 'rounded'});
                btn_agree.text(parseInt(btn_agree.text()) + 1);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '你已经点赞过了哦～', classes: 'rounded'});
            });
        }

        function deleteMicroWordDetail(id) {
            $.post('[(@{/microword/api/delete})]', {
                'id': id, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(-1);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '删除失败' + errorThrown, classes: 'rounded'});
            });
        }

        function deleteMicroWordComment(id) {
            $.post('[(@{/microwordcomment/api/delete})]', {
                'id': id, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '删除失败' + errorThrown, classes: 'rounded'});
            });
        }

        function deleteMicroWordCommentReply(id) {
            $.post('[(@{/microwordcommentreply/api/delete})]', {
                'id': id, _csrf: [[${_csrf.token}]]
            }, function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '删除失败' + errorThrown, classes: 'rounded'});
            });
        }

        function replyComment(microwordCommentId, repliedUserId, repliedUserName) {
            $('#replyArea').css('display', 'block');
            $('#microwordCommentId').val(microwordCommentId);
            $('#repliedUserId').val(repliedUserId);
            $(window).scrollTop($('#commentReplyForm').offset().top);
        }

        function submitReplyComment() {
            var commentReplyContent = $('#commentReplyContent');
            if (commentReplyContent.val().length >= 200) {
                M.toast({html: '输入字符数超过200', classes: 'rounded'});
                return;
            }
            commentReplyContent.val(tranferStringLine(commentReplyContent.val()));
            $.post('[(@{/microwordcommentreply/api/save})]', $('#commentReplyForm').serialize(), function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '删除失败' + errorThrown, classes: 'rounded'});
            });
        }

        function submitComment() {
            var commentContent = $('#commentContent');
            if (commentContent.val().length >= 200) {
                M.toast({html: '输入字符数超过200', classes: 'rounded'});
                return;
            }
            commentContent.val(tranferStringLine(commentContent.val()));
            $.post('[(@{/microwordcomment/api/save})]', $('#commentForm').serialize(), function () {
            }).done(function (data, textStatus, jqXHR) {
                history.go(0);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                M.toast({html: '删除失败' + errorThrown, classes: 'rounded'});
            });
        }
    </script>
</head>
<body>
<div th:replace="template::header"></div>
<main>
    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <img src=""
                         class="col s1 circle"
                         th:src="@{/{profilePhoto}(profilePhoto=${microWordDetailVO.microWord.user.userProfile.profilePhoto})}"/>
                    <div class="col s2 input-field">
                        <a th:href="@{/userprofile/details/{username}(username=${microWordDetailVO.microWord.user.username})}"
                           href="#"
                           th:text="${microWordDetailVO.microWord.user.username}"></a>
                    </div>
                    <span class="new badge blue"
                          th:data-badge-caption="|${#dates.format(microWordDetailVO.microWord.createTime,'yy-MM-dd HH:mm:ss')}|"></span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <button type="button"
                            class="right waves-effect waves-light btn-flat tooltipped"
                            sec:authorize="hasAnyRole('ROLE_ADMIN_MICROWORD') or #authentication.name == #vars.microWordDetailVO.microWord.user.username"
                            th:onclick="|agreeMicroWordDetail(${microWordDetailVO.microWord.id})|"
                            data-position="top"
                            data-tooltip="赞">
                        <i class="material-icons left">favorite</i>
                        <span id="btnagree"
                              th:text="${#lists.size(microWordDetailVO.microWord.microWordAgrees)}"></span>
                    </button>
                    <button type="button"
                            class="right waves-effect waves-light btn-flat tooltipped"
                            sec:authorize="hasAnyRole('ROLE_ADMIN_MICROWORD') or #authentication.name == #vars.microWordDetailVO.microWord.user.username"
                            data-position="top"
                            data-tooltip="删除">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <p class="convert-emoji" th:utext="${microWordDetailVO.microWord.content}"></p>
                <br>
                <div class="row">
                    <div class="slider" th:unless="${#lists.isEmpty(microWordDetailVO.microWord.microWordAttachments)}">
                        <ul class="slides">
                            <li th:each="microWordAttachment:${microWordDetailVO.microWord.microWordAttachments}">
                                <a href="#" th:href="@{/{pictureUrl}(pictureUrl=${microWordAttachment.url})}">
                                    <img src=""
                                         th:src="@{/{pictureUrl}(pictureUrl=${microWordAttachment.url})}"/>
                                </a>
                                <div class="caption center-align">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div sec:authorize="isAuthenticated()">
                        <form id="commentForm" th:action="@{/microwordcomment/api/save}" method="post">
                            <input type="hidden"
                                   name="microWordId"
                                   th:value="${microWordDetailVO.microWord.id}"/>
                            <textarea id="commentContent"
                                      name="content">
                        </textarea>
                        </form>
                        <div class="right">
                            <br>
                            <button th:type="button"
                                    id="btnSendComment"
                                    class="waves-effect waves-light btn"
                                    onclick="submitComment()">
                                <i class="material-icons">send</i>
                            </button>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#commentContent').emojioneArea({
                                    placeholder: '既然看了就回复一下嘛~',
                                    buttonTitle: '按TAB键选择表情',
                                    pickerPosition: 'buttom',
                                    saveEmojisAs: 'shortname',
                                    recentEmojis: false,
                                    autocomplete: false,
                                    tonesStyle: 'square'
                                });
                                $('.emojionearea-editor').html('');
                            })
                        </script>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div th:each="microWordComment:${microWordDetailVO.getMicroWordCommentPage()}">
                        <ul class="collapsible">
                            <li class="active">
                                <div class="collapsible-header">
                                    <img src=""
                                         class="circle"
                                         th:src="@{/{profilePhoto}(profilePhoto=${microWordComment.commentUser.userProfile.profilePhoto})}"
                                         th:width="32px"
                                         th:height="32px"/>
                                    <a class="valign-wrapper"
                                       style="margin-left: 5px;"
                                       th:text="${microWordComment.commentUser.username}"
                                       th:href="@{/userprofile/details/{username}(username=${microWordComment.commentUser.username})}">
                                    </a>
                                    <span class="new badge blue"
                                          th:data-badge-caption="|${#dates.format(microWordComment.createTime,'yy-MM-dd HH:mm:ss')}|">
                                </span>
                                </div>
                                <div class="collapsible-body">
                                    <div class="right">
                                        <button type="button"
                                                class="waves-effect waves-light btn-flat"
                                                th:onclick="|deleteMicroWordComment(${microWordComment.id})|"
                                                sec:authorize="hasAnyRole('ROLE_ADMIN_COMMENT') or #authentication.name == #vars.microWordComment.commentUser.username">
                                            <i class="material-icons">delete</i>
                                        </button>
                                        <button type="button"
                                                class="waves-effect waves-light btn-flat"
                                                sec:authorize="isAuthenticated()"
                                                th:onclick="|replyComment(${microWordComment.id},${microWordComment.commentUser.id},'${microWordComment.commentUser.username}')|">
                                            <i class="material-icons">chat_bubble</i>
                                        </button>
                                        <button type="button"
                                                class="waves-effect waves-light btn-flat"
                                                sec:authorize="isAuthenticated()"
                                                th:onclick="|agreeMicroWordComment(${microWordComment.getMicroWord().getId()},${microWordComment.id})|">
                                            <i class="material-icons left">favorite</i>
                                            <span th:id="|btnCommentAgree_${microWordComment.id}|"
                                                  th:text="${#lists.size(microWordComment.getMicroWordCommentAgrees())}"></span>
                                        </button>
                                    </div>
                                    <p class="convert-emoji" th:utext="${microWordComment.content}"></p>
                                    <blockquote>
                                        <div th:each="microWordCommentReply:${microWordComment.getMicroWordCommentReplies()}">
                                            <a th:href="@{/userprofile/details/{username}(username=${microWordComment.commentUser.username})}"
                                               th:text="${microWordCommentReply.replyUser.username}"></a>
                                            <span th:text="':'"></span>
                                            <a th:href="@{/userprofile/details/{username}(username=${microWordComment.commentUser.username})}"
                                               th:text="|@${microWordCommentReply.repliedUser.username}|"></a>
                                            <span th:text="|  ${#dates.format(microWordCommentReply.createTime,'yyyy-MM-dd HH:mm:ss')}|"></span>
                                            <button type="button"
                                                    class="waves-effect waves-light btn-flat"
                                                    sec:authorize="hasAnyRole('ROLE_ADMIN_COMMENT') or #authentication.name == #vars.microWordCommentReply.replyUser.username"
                                                    th:onclick="|deleteMicroWordCommentReply(${microWordCommentReply.id})|">
                                                <i class="material-icons">delete</i>
                                            </button>
                                            <button type="button"
                                                    class="waves-effect waves-light btn-flat"
                                                    sec:authorize="isAuthenticated()"
                                                    th:onclick="|replyComment(${microWordComment.id},${microWordCommentReply.replyUser.id},'${microWordCommentReply.replyUser.username}')|">
                                                <i class="material-icons">chat_bubble</i>
                                            </button>
                                            <p class="convert-emoji "
                                               th:utext="${microWordCommentReply.content}">
                                            </p>
                                        </div>
                                    </blockquote>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div sec:authorize="isAuthenticated()" style="display: none;" id="replyArea">
                        <br/>
                        <form id="commentReplyForm" th:action="@{/microwordcommentreply/api}" method="post">
                            <input type="hidden" th:name="'microWordId'" th:value="${microWordDetailVO.microWord.id}"/>
                            <input type="hidden" th:name="'microwordCommentId'" id="microwordCommentId"/>
                            <input type="hidden" th:name="'repliedUserId'" id="repliedUserId">
                            <textarea id="commentReplyContent" th:name="'content'"></textarea>
                        </form>
                        <div class="right">
                            <br>
                            <button th:type="button"
                                    class="waves-effect waves-light btn"
                                    id="btnSendCommentReply"
                                    th:onclick="'submitReplyComment();'">
                                <i class="material-icons">send</i>
                            </button>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#commentReplyContent').emojioneArea({
                                    placeholder: '回复:',
                                    buttonTitle: '按TAB键选择表情',
                                    pickerPosition: 'top',
                                    saveEmojisAs: 'shortname',
                                    recentEmojis: false,
                                    autocomplete: false,
                                    tonesStyle: 'square'
                                });
                            })
                        </script>
                    </div>

                    <div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN_SUGGESTION')">
                        <form action=""
                              th:action="@{/microword/details/{microWordId}(microWordId=${microWordDetailVO.microWord.id})}"
                              th:method="get"
                              class="col s12"
                              th:onsubmit="'return pageFormSubmit()'">
                            <div class="input-field col s3 center">
                                <a th:unless="${microWordDetailVO.microWordCommentPage.number==0}"
                                   class="waves-effect waves-light btn"
                                   th:href="@{/microword/details/{microWordId}(microWordId=${microWordDetailVO.microWord.id},page=${microWordDetailVO.microWordCommentPage.number - 1})}"
                                   th:text="'上一页'"></a>
                            </div>
                            <div class="input-field col s3 center">
                                <a th:unless="${microWordDetailVO.microWordCommentPage.number+1==microWordDetailVO.microWordCommentPage.totalPages||microWordDetailVO.microWordCommentPage.totalElements==0}"
                                   class="waves-effect waves-light btn"
                                   th:href="@{/microword/details/{microWordId}(microWordId=${microWordDetailVO.microWord.id},page=${microWordDetailVO.microWordCommentPage.number+1})}"
                                   th:text="'下一页'"></a>
                            </div>
                            <div class="input-field col s3">
                                <input type="number"
                                       id="input_page"
                                       th:min="1"
                                       th:max="${microWordDetailVO.microWordCommentPage.totalPages}"
                                       th:required="required"/>
                                <label for="input_page"
                                       th:text="|当前第${microWordDetailVO.microWordCommentPage.number+1}页/总${microWordDetailVO.microWordCommentPage.totalPages}页|"></label>
                            </div>
                            <input type="hidden"
                                   th:name="sort"
                                   th:value="${#uris.unescapePath(#strings.substringBefore(#strings.substringAfter(#request.queryString,'sort='),'&page='))}"/>
                            <input type="hidden" id="submit_page" th:name="page"/>
                            <div class="input-field col s3">
                                <button type="submit"
                                        class="waves-effect waves-light btn center">跳转
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();
            $('.collapsible').collapsible();
            $('.slider').slider();
        });
    </script>
</main>
<div th:replace="template::footer"></div>
</body>
</html>