<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search MicroWord</title>
</head>
<body>
<div th:fragment="searchmicroWordpageform">
    <div th:with="queryStringWithoutPage=${#strings.substringBefore(#httpServletRequest.queryString,'&page')},queryString=${#httpServletRequest.queryString}">
        <form action="" th:action="@{/search}" th:method="get" th:onsubmit="'return pageFormSubmit()'">
            <span th:text="|${microWords.number+1}/${microWords.totalPages}Pages|">页</span>
            <input type="number"
                   th:min="1"
                   th:max="${microWords.totalPages}"
                   th:id="input_page"
                   th:required="required"/>
            <input type="hidden"
                   th:name="'searchContent'"
                   th:value="${homeSearchFormVO.searchContent}"/>
            <input type="hidden"
                   th:name="'searchItem'"
                   th:value="${homeSearchFormVO.searchItem}"/>
            <input type="hidden" th:name="page" th:id="submit_page"/>
            <input type="submit" th:value="Go">
        </form>
        <a th:unless="${microWords.number == 0}"
           th:href="|${#httpServletRequest.requestURI}?${#strings.isEmpty(queryStringWithoutPage)?queryString:queryStringWithoutPage}&page=${microWords.number - 1}|"
           th:text="'Previous'">上一页</a>
        <a th:unless="${microWords.number+1==microWords.totalPages||microWords.number+1==microWords.totalPages}"
           th:href="|${#httpServletRequest.requestURI}?${#strings.isEmpty(queryStringWithoutPage)?queryString:queryStringWithoutPage}&page=${microWords.number + 1}|"
           th:text="'Next'">下一页</a>
        <span th:text="|${microWords.numberOfElements}/${microWords.totalElements} Element Counts|">页面显示数据量</span>
    </div>
</div>
</body>
</html>